form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 0px;
    position: relative;
    top: 20px;
    bottom: auto;
}

.imagen {
    position: absolute;
    left: 400px;    
}

.poke-card {
    position: relative;
    top: 10px;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 1px;
    margin: 0 auto;
}


.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}